# Importing Libraries

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.utils import resample
import jenkspy
from scipy.stats import zscore

# Question 3

## Part a

In [ ]:
columns = ['Vendor_name', 'model', 'MCYT', 'MMIN', 'MMAX', 'CACH', 'CHMIN', 'CHMAX', 'PRP', 'ERP']
df_machines = pd.read_csv('/content/drive/MyDrive/Data Mining/HW1/machines.csv', names= columns)

In [ ]:
df_machines.reset_index().drop('index', axis=1)

    Vendor_name          model  MCYT  MMIN  ...  CHMIN  CHMAX  PRP  ERP
0       adviser          32/60   125   256  ...     16    128  198  199
1        amdahl         470v/7    29  8000  ...      8     32  269  253
2        amdahl        470v/7a    29  8000  ...      8     32  220  253
3        amdahl        470v/7b    29  8000  ...      8     32  172  253
4        amdahl        470v/7c    29  8000  ...      8     16  132  132
..          ...            ...   ...   ...  ...    ...    ...  ...  ...
204      sperry           80/8   124  1000  ...      1      8   42   37
205      sperry  90/80-model-3    98  1000  ...      2      8   46   50
206      sratus             32   125  2000  ...      2     14   52   41
207        wang         vs-100   480   512  ...      0      0   67   47
208        wang          vs-90   480  1000  ...      0      0   45   25

[209 rows x 10 columns]

In [ ]:
df_machines = df_machines.reset_index()

In [ ]:
df_machines.describe()

              MCYT          MMIN  ...          PRP          ERP
count   209.000000    209.000000  ...   209.000000   209.000000
mean    203.822967   2867.980861  ...   105.622010    99.330144
std     260.262926   3878.742758  ...   160.830733   154.757102
min      17.000000     64.000000  ...     6.000000    15.000000
25%      50.000000    768.000000  ...    27.000000    28.000000
50%     110.000000   2000.000000  ...    50.000000    45.000000
75%     225.000000   4000.000000  ...   113.000000   101.000000
max    1500.000000  32000.000000  ...  1150.000000  1238.000000

[8 rows x 8 columns]

## Part b

In [ ]:
df_machines.dtypes

index           int64
Vendor_name    object
model          object
MCYT            int64
MMIN            int64
MMAX            int64
CACH            int64
CHMIN           int64
CHMAX           int64
PRP             int64
ERP             int64
dtype: object

In [ ]:
df_machines['Vendor_name'] = df_machines['Vendor_name'].astype('string')

In [ ]:
df_machines.dtypes

index           int64
Vendor_name    string
model          object
MCYT            int64
MMIN            int64
MMAX            int64
CACH            int64
CHMIN           int64
CHMAX           int64
PRP             int64
ERP             int64
dtype: object

## Part c

In [ ]:
df_machines['Vendor_name'].unique()

<StringArray>
[      'amdahl',       'apollo',         'basf',          'bti',
    'burroughs',        'c.r.d',          'cdc',       'cambex',
          'dec',           'dg',    'formation',   'four-phase',
        'gould',           'hp',       'harris',    'honeywell',
          'ibm',          'ipl',     'magnuson',    'microdata',
          'nas',          'ncr',      'nixdorf', 'perkin-elmer',
        'prime',      'siemens',       'sperry',       'sratus',
         'wang']
Length: 29, dtype: string

In [ ]:
df_machines['Vendor_name'].value_counts()

ibm             32
nas             19
ncr             13
sperry          13
honeywell       13
siemens         12
cdc              9
amdahl           9
burroughs        8
hp               7
harris           7
dg               7
dec              6
c.r.d            6
ipl              6
magnuson         6
cambex           5
prime            5
formation        5
perkin-elmer     3
gould            3
nixdorf          3
wang             2
bti              2
basf             2
apollo           2
microdata        1
four-phase       1
sratus           1
adviser          1
Name: Vendor_name, dtype: int64

## Part d

In [ ]:
## روش اول
df1 = df_machines[(df_machines['MMIN']>1000) & (df_machines['MMIN']<20000)]
df1 = df1[['Vendor_name', 'model', 'MMIN', 'MMAX', 'PRP', 'ERP']]

In [ ]:
## روش دوم
df1_prime = df_machines.loc[(df_machines['MMIN']>1000) & (df_machines['MMIN']< 20000), ['Vendor_name', 'model', 'MMIN', 'MMAX', 'PRP', 'ERP']]

In [ ]:
df1.tail(10)

      Vendor_name       model  MMIN   MMAX   PRP  ERP
190.0     siemens     7.880-2  8000  32000   248  275
191.0     siemens     7.881-2  8000  32000   405  382
192.0      sperry  1100/61-h1  2000   8000    70   56
193.0      sperry     1100/81  2000  32000   114  182
194.0      sperry     1100/82  2000  32000   208  227
195.0      sperry     1100/83  2000  32000   307  341
196.0      sperry     1100/84  4000  32000   397  360
197.0      sperry     1100/93  8000  64000   915  919
198.0      sperry     1100/94  8000  64000  1150  978
205.0      sratus          32  2000   8000    52   41

In [ ]:
df1_prime.tail(10)

      Vendor_name       model  MMIN   MMAX   PRP  ERP
190.0     siemens     7.880-2  8000  32000   248  275
191.0     siemens     7.881-2  8000  32000   405  382
192.0      sperry  1100/61-h1  2000   8000    70   56
193.0      sperry     1100/81  2000  32000   114  182
194.0      sperry     1100/82  2000  32000   208  227
195.0      sperry     1100/83  2000  32000   307  341
196.0      sperry     1100/84  4000  32000   397  360
197.0      sperry     1100/93  8000  64000   915  919
198.0      sperry     1100/94  8000  64000  1150  978
205.0      sratus          32  2000   8000    52   41

In [ ]:
df1.to_csv('/content/drive/MyDrive/Data Mining/HW1/machines_partd.csv')

## Part e

In [ ]:
df_machines.filter(regex='e', axis=1)

In [ ]:
df_machines[df_machines['model'].str.match('^b.*')== True]

    index Vendor_name  model  MCYT  MMIN  MMAX  CACH  CHMIN  CHMAX  PRP  ERP
15     15   burroughs  b1955   167   524  2000     8      4     15   19   23
16     16   burroughs  b2900   143   512  5000     0      7     32   28   29
17     17   burroughs  b2925   143  1000  2000     0      5     16   31   22
18     18   burroughs  b4955   110  5000  5000   142      8     64  120  124
19     19   burroughs  b5900   143  1500  6300     0      5     32   30   35
20     20   burroughs  b5920   143  3100  6200     0      5     20   33   39
21     21   burroughs  b6900   143  2300  6200     0      6     64   61   40
22     22   burroughs  b6925   110  3100  6200     0      6     64   76   45

In [ ]:
# فکر بیشتر
[itm[0] for itm in df_machines['model'].str.findall('^b.*') if len(itm)>0]

['b1955', 'b2900', 'b2925', 'b4955', 'b5900', 'b5920', 'b6900', 'b6925']

## Part f

In [ ]:
df_machines['ERP'].mean()

98.85096153846153

In [ ]:
df_machines['ERP'].std()

154.97496104143923

In [ ]:
df_machines[df_machines['ERP'] == df_machines['ERP'].max()]

   index Vendor_name     model  MCYT   MMIN  ...  CACH  CHMIN  CHMAX   PRP   ERP
8      8      amdahl  580-5880    23  32000  ...   128     32     64  1144  1238

[1 rows x 11 columns]

## Part g

In [ ]:
## تعداد رکورد های هر گروه
df_machines['Vendor_name'].value_counts()

ibm             32
nas             19
ncr             13
sperry          13
honeywell       13
siemens         12
cdc              9
amdahl           9
burroughs        8
hp               7
harris           7
dg               7
dec              6
c.r.d            6
ipl              6
magnuson         6
cambex           5
prime            5
formation        5
perkin-elmer     3
gould            3
nixdorf          3
wang             2
bti              2
basf             2
apollo           2
microdata        1
four-phase       1
sratus           1
adviser          1
Name: Vendor_name, dtype: int64

### max

In [ ]:
df_machines.groupby('Vendor_name').max()

              index               model  MCYT   MMIN  ...  CHMIN  CHMAX   PRP   ERP
Vendor_name                                           ...
adviser         NaN               32/60   125    256  ...     16    128   198   199
amdahl          8.0            580-5880    29  32000  ...     32     64  1144  1238
apollo         10.0               dn420   400   1000  ...      1      6    40    24
basf           12.0                7/68    60   4000  ...      1      8   138   117
bti            14.0                8000   350    512  ...      4     32    35    64
burroughs      22.0               b6925   167   5000  ...      8     64   120   124
c.r.d          28.0      universe:68/37   320    512  ...      1     12    77    28
cambex         42.0              1651-1    50   2000  ...      3      6    60    74
cdc            37.0       omega:480-iii    64   5240  ...     12     24   368   138
dec            48.0          vax:11/780   810   1000  ...      3     12    72    54
dg             55.0  eclipse:mv/8000-ii   700   1000  ...      1      3   138    72
formation      60.0         f4000/300ap   800    256  ...      1      4    22    34
four-phase     61.0            2000/260   125    512  ...      8     20    36    19
gould          64.0     concept:32/8780    75   2000  ...      1     38   259   157
harris         78.0                 800   300    768  ...      6     31    84    53
honeywell      91.0            dps:8/62   330   2000  ...      4    112   189   181
hp             71.0            3000/iii   175   3000  ...      3     48    64    54
ibm           123.0                8140  1500  16000  ...     16     24   465   361
ipl           129.0                4480    50   8000  ...      3     10   136   128
magnuson      135.0              m80/44   100   2000  ...      6     16    65    88
microdata     136.0         seq.ms/3200   150    512  ...      8    128    30    33
nas           155.0             as/9060   115  16000  ...     16     32   510   603
ncr           168.0               v8670   112   8000  ...     16     32   212   281
nixdorf       171.0             8890/70   200   2000  ...      1      5    41    67
perkin-elmer  174.0                3230   250   1000  ...      4      8    50    64
prime         179.0           50-850-ii   160   2000  ...      3     14   109    53
siemens       191.0             7.881-2   240   8000  ...     24     32   405   382
sperry        204.0       90/80-model-3   180   8000  ...     52    176  1150   978
sratus        205.0                  32   125   2000  ...      2     14    52    41
wang          207.0               vs-90   480   1000  ...      0      0    67    47

[30 rows x 10 columns]

In [ ]:
df_machines.groupby('Vendor_name').max()['ERP']

Vendor_name
adviser          199
amdahl          1238
apollo            24
basf             117
bti               64
burroughs        124
c.r.d             28
cambex            74
cdc              138
dec               54
dg                72
formation         34
four-phase        19
gould            157
harris            53
honeywell        181
hp                54
ibm              361
ipl              128
magnuson          88
microdata         33
nas              603
ncr              281
nixdorf           67
perkin-elmer      64
prime             53
siemens          382
sperry           978
sratus            41
wang              47
Name: ERP, dtype: int64

### min

In [ ]:
df_machines.groupby('Vendor_name').min()

              index            model  MCYT  MMIN  ...  CHMIN  CHMAX  PRP  ERP
Vendor_name                                       ...
adviser         NaN            32/60   125   256  ...     16    128  198  199
amdahl          0.0           470v/7    23  8000  ...      8     16  132  132
apollo          9.0            dn320   400   512  ...      1      2   38   23
basf           11.0             7/65    50  2000  ...      1      8   92   70
bti            13.0             5000   200    64  ...      1      4   10   15
burroughs      15.0            b1955   110   512  ...      4     15   19   22
c.r.d          23.0         68/10-80   320   128  ...      1      3   23   21
cambex         38.0           1636-1    50  1000  ...      3      5   26   30
cdc            29.0    cyber:170/750    25   500  ...      1      4   20   23
dec            43.0   decsys:10:1091   133   512  ...      1      1   18   18
dg             49.0    eclipse:c/350   110   256  ...      1      1   24   19
formation      56.0        f4000/100   800   256  ...      1      4   12   34
four-phase     61.0         2000/260   125   512  ...      8     20   36   19
gould          62.0  concept:32/8705    75  2000  ...      1     38  144   75
harris         72.0              100   180   192  ...      1     24   36   18
honeywell      79.0         dps:6/35   140  1000  ...      1      2   16   20
hp             65.0          3000/30    75   256  ...      3     10   17   18
ibm            92.0           3033:s    17    96  ...      0      0    6   15
ipl           124.0             4436    50  2000  ...      1      6   27   30
magnuson      130.0           m80/30    50  1000  ...      2      6   16   37
microdata     136.0      seq.ms/3200   150   512  ...      8    128   30   33
nas           137.0          as/3000    30  2000  ...      1      3   40   29
ncr           156.0         v8535:ii    38  1000  ...      1      4    8   19
nixdorf       169.0          8890/30   200  1000  ...      1      2   25   21
perkin-elmer  172.0             3205   250   512  ...      1      7   25   24
prime         175.0          50-2250   160   512  ...      1      5   30   20
siemens       180.0            7.521    26   512  ...      1      3    6   19
sperry        192.0       1100/61-h1    30   262  ...      1      3   12   24
sratus        205.0               32   125  2000  ...      2     14   52   41
wang          206.0           vs-100   480   512  ...      0      0   45   25

[30 rows x 10 columns]

In [ ]:
df_machines.groupby('Vendor_name').min()['ERP']

Vendor_name
adviser         199
amdahl          132
apollo           23
basf             70
bti              15
burroughs        22
c.r.d            21
cambex           30
cdc              23
dec              18
dg               19
formation        34
four-phase       19
gould            75
harris           18
honeywell        20
hp               18
ibm              15
ipl              30
magnuson         37
microdata        33
nas              29
ncr              19
nixdorf          21
perkin-elmer     24
prime            20
siemens          19
sperry           24
sratus           41
wang             25
Name: ERP, dtype: int64

## Part h

In [ ]:
df_machines.corr(method='pearson', min_periods=1)

          index      MCYT      MMIN  ...     CHMAX       PRP       ERP
index  1.000000 -0.107011 -0.028398  ...  0.032123  0.028751  0.043115
MCYT  -0.107011  1.000000 -0.337071  ... -0.255629 -0.306571 -0.287806
MMIN  -0.028398 -0.337071  1.000000  ...  0.293877  0.798310  0.823113
MMAX   0.062608 -0.379592  0.757827  ...  0.562388  0.865576  0.904180
CACH   0.113449 -0.340414  0.602788  ...  0.423550  0.704642  0.687428
CHMIN  0.088574 -0.300734  0.526665  ...  0.541762  0.608841  0.610094
CHMAX  0.032123 -0.255629  0.293877  ...  1.000000  0.621309  0.606281
PRP    0.028751 -0.306571  0.798310  ...  0.621309  1.000000  0.966423
ERP    0.043115 -0.287806  0.823113  ...  0.606281  0.966423  1.000000

[9 rows x 9 columns]